section.about
  .container.about__wrap
    .about__order
      .about__img
        img(src = "images/about_order_img.jpg")
      .order
        h3.title.order__title Как сделать заказ?
        .order__map
          .order__steps
            .order__icon
              img(src = "images/order_window.png" alt = "window" width = "100px" height = "96px")
            p.order__text Выберите параметры окна
            
          .order__steps.order__steps--arrow
            .order__icon
              img(src = "images/order_delivery.png" alt = "delivery" width = "100px" height = "72px")
            p.order__text Выберите способ доставки
            
          .order__steps
            .order__icon
              img(src = "images/order_box.png" alt = "box" width = "100px" height = "68px")
            p.order__text.order__text--grey Получите свой заказ
        
    h2.title.about__title Видео
    .video-slider.swiper-container
      .video-slider__wrap.swiper-wrapper
      
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview1.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview2.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview3.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview1.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
        
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview2.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                
        .video-slider__item.swiper-slide
          .video-slider__preview
            img(src = "images/video_preview3.jpg" alt = "preview")
          .video-slider__info-wrap
            a.video-slider__play(href = "#")
            .video-slider__descr
              a.video-slider__title(href = "#")
                | Таким образом реализация намеченных плановых заданий 
              p.video-slider__text
                | Не следует, однако забывать, что начало повседневной работы по формированию позиции способствует подготовки и реализации системы обучения кадров
                
      .swiper-scrollbar
      

//jsfiddle.net/4t9rvp18/