section.catalog
  .container.catalog__wrap
    h2.title.catalog__title Каталог окон
    ul.catalog__nav-list
      li.catalog__nav-item
        a(href = "#").catalog__nav-link Глухие
      li.catalog__nav-item
        a(href = "#").catalog__nav-link Открывное - Откидное
      li.catalog__nav-item
        a(href = "#").catalog__nav-link Глухое - Открывное
      li.catalog__nav-item
        a(href = "#").catalog__nav-link Витраж
    .slider-catalog
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img1.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title
          | Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img2.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title
          | Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img1.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title
          | Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img2.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title
          | Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img1.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      .slider-catalog__item
        .slider-catalog__gallery
          .slider-catalog__big-img
            img(src="images/catalog_big_img2.jpg")
          .slider-catalog__img-wrap
            .slider-catalog__img-small
              img(src = "images/catalog_small_img1.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img2.jpg")
            .slider-catalog__img-small
              img(src = "images/catalog_small_img3.jpg")
        h4.slider-catalog__title 
          | Окно Глухое
        .price
          .price__wrap
            span.price__text от
            span.price__number 3000
            span.price__text грн
          a.btn.price__calc(href = "#") Калькулятор
        
      