footer.footer
  .container.footer__wrap
    .footer__block
      .logo.footer__logo.footer__part
        img.footer__logo-img(src = "./images/logo.png" alt = "LOGO")
      ul.footer__nav.footer__part
        li.footer__item
          a.footer__link(href ="#") Главная
        li.footer__item
          a.footer__link(href ="#") Кредиты
        li.footer__item
          a.footer__link(href ="#") Доставка
        li.footer__item
          a.footer__link(href ="#") Продукция
        li.footer__item
          a.footer__link(href ="#") Акции
        li.footer__item
          a.footer__link(href ="#") Оплата
        li.footer__item
          a.footer__link(href ="#") Наши услуги
        li.footer__item
          a.footer__link(href ="#") Новости
        li.footer__item
          a.footer__link(href ="#") Контакты
      
      .callback.footer__part.footer__callback
          a.callback__number(href="tel:+380448122312") +38 (044) 812-23-12
          a.callback__button(href="#") Заказать звонок