header.header
  .header__wrap
    .header__top
      .container.header__head
        .header__logan
          .logo
            img.logo__img(src = "./images/logo.png" alt = "LOGO")
          h1.header__slogan
            span Окна от 
            span.bold лучших 
            span мировых производителей
        .callback.header__callback
          a.callback__number(href="tel:+380448122312")
           | +38 (044) 812-23-12
          a.callback__button(href="#")
           | Заказать звонок
    nav.header__menu
      ul.nav.container
        li.nav__item
          a.nav__link(href = "#") Главная
        li.nav__item
          a.nav__link(href = "#") Продукция
        li.nav__item
          a.nav__link(href = "#") Наши услуги
        li.nav__item
          a.nav__link(href = "#") Кредит
        li.nav__item
          a.nav__link(href = "#") Акции
        li.nav__item
          a.nav__link(href = "#") Новости
        li.nav__item
          a.nav__link(href = "#") Доставка
        li.nav__item
          a.nav__link(href = "#") Оплата
        li.nav__item
          a.nav__link(href = "#") Контакты
        li.nav__item.nav__item--search
          a.nav__link.nav__link--search(href = "#")
    .header__poster
      .header__poster-wrap.container
        .services-slider
          .services-slider__slide
            h2.services-slider__title Установка и доставка окон от производителя
            p.services-slider__text 
             | Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом.
          
          .services-slider__slide
            h2.services-slider__title Установка и доставка окон от производителя
            p.services-slider__text 
             | Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом.
             
          .services-slider__slide
            h2.services-slider__title Установка и доставка окон от производителя
            p.services-slider__text 
             | Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом.
             
          .services-slider__slide
            h2.services-slider__title Установка и доставка окон от производителя
            p.services-slider__text 
             | Равным образом укрепление и развитие структуры играет важную роль в формир овании дальнейших направлений развития. Богатый опыт консультация с широким активом.