.popular
  .container.popular__wrap
    h2.title.popular__main-title
      | Популярный товар
    .popular__info-wrap
      .popular__descr
        .descr-slyder
          .descr-slyder__review
            .descr-slyder__big
              img(src ="images/popular-slider_img.jpg")
            .descr-slyder__big
              img(src ="images/popular-slider_img2.jpg")
            .descr-slyder__big
              img(src ="images/popular-slider_img3.jpg")
            .descr-slyder__big
              img(src ="images/popular-slider_img.jpg")
            .descr-slyder__big
              img(src ="images/popular-slider_img2.jpg")
            .descr-slyder__big
              img(src ="images/popular-slider_img3.jpg")
          .descr-slyder__mini-wrap
            .descr-slyder__mini
              img(src ="images/popular-slider_img.jpg")
            .descr-slyder__mini
              img(src ="images/popular-slider_img2.jpg")
            .descr-slyder__mini
              img(src ="images/popular-slider_img3.jpg")
            .descr-slyder__mini
              img(src ="images/popular-slider_img.jpg")
            .descr-slyder__mini
              img(src ="images/popular-slider_img2.jpg")
            .descr-slyder__mini
              img(src ="images/popular-slider_img3.jpg")
        .popular__descr-wrap
          h3.popular__bold
            | Таким образом реализация намеченных плановых заданий способствует подготовки и реализации дальнейших      направлений развития.
          .popular__text
            p Образом новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании форм развития.

            p Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
      .popular__for-order
        #off.popular__share-card
          span.popular__share
            | Акция
          h3.popular__title Бесплатная доставка
          #info.popular__info
          #modal_info.modal-info
            .modal-info__wrap
              | Развитие структуры играет важную роль в формировании существенных финансовых и административных условий. Опыт постоянный личественный рост и сфера нашей активности способствует подготовки и реализации дальнейших направлений развития.
        .popular__price-card
          h3.popular__price-card-title Цена
          .price
            .price__wrap
              span.price__text от
              span.price__number 3000
              span.price__text грн
            a.btn.price__calc(href = "#") Калькулятор