section.share
  .container.share__wrap
    .share__descr
      h2.title.share__title Акция
      p.share__text До 31 октября установка окон - 
      a.share__payless(href = "#") бесплатно
      p.share__text До конца акции:
      .clock
        .clock__column
          #days.clock__timer
          .clock__text дн.
        .clock__column
          #hours.clock__timer
          .clock__text час.
        .clock__column
          #minutes.clock__timer
          .clock__text мин.
        .clock__column
          #seconds.clock__timer
          .clock__text сек.
      span.sub-message
      