// Fonts

$ff-main: 'Roboto-regular';
$ff-main-bold: 'Roboto-bold';
$ff-main-black: 'Roboto-black';
$ff-titles: 'Cuprum';
$ff-titles-bold: 'Cuprum-bold';

//Colors

$color-header-top: #fff;
$color-font: #2f3131;
$color-header-text: #2f3131;
$color-clock-text: #2f3131;
$color-buttons: #43aa26;
$color-buttons-shadow: #2c8a12;
$color-clock-numbers: #43aa26;
$color-buttons-font: #fff;
$color-titles: #4b4c4c;
$color-about-bg: #ececec;
$color-share-bg: #40621b;
$color-share-payless: #fff600;